<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="user-account-nav user-account-sidebar">
        <div class="user-nav-list">
            <ul>
                <li class="{% if 'cusDashboard' in request.path %}active{% endif %}"><a href="{% url 'accounts:cusDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
                <li class="{% if 'myOrders' in request.path or 'OrderDetails' in request.path %}active{% endif %}"><a href="{% url 'customers:myOrders' %}"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
                <li class="{% if 'profile' in request.path %}active{% endif %}"><a href="{% url 'customers:profile' %}" ><i class="icon-building"></i>Profile Settings</a></li>
                <li><a class="logout-btn" href="{% url 'accounts:userLogout' %}"><i class="icon-log-out"></i>Signout</a></li>
            </ul>
        </div>
    </div>
</div>